* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: gainsboro;
}

/* HEADER START */

header {
    background-color: rgb(63, 62, 62);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
    align-items: flex-start;
}

header h1 a {
    background-color: lightskyblue;
    color: rgb(63, 62, 62);
    text-decoration: none;
    padding: 5px 10px 5px 40px;
    font-weight: bold;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    padding: 2px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-decoration: none;
    color: lightskyblue;
    border-bottom: 3px solid lightskyblue;
    border-radius: 5px;
    margin: 5px 10px;

}

.btn:hover {
    background-color: lightskyblue;
    color: rgb(63, 62, 62);
    font-weight: bold;
    transform-origin: bottom;
    transform: scale(0);
    transition: 0.5s linear;

}
      
/* END HEADER */
/* BEGIN HERO SECTION */

.hero {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    background-position: 80%;
    height: 300px;
    padding: 60px;
    border-bottom: 5px solid lightskyblue;
}

.hero div {
    align-self: flex-end;
}

.hero div a {
    background-color: rgb(63, 62, 62);
    color: lightskyblue;
    border-radius: 5px;
    border: 2px solid lightskyblue;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
}

.hero div a:hover {
    color: rgb(63, 62, 62);
    background-color: lightskyblue;
    border-color: rgb(63, 62, 62);
    transform-origin: bottom;
    transform: scale(0);
    transition: .5s linear;
}

/* END HERO SECTION */
/* BEGIN ABOUT ME SECTION */

#about-me {
    display: flex;
    padding: 60px;
}

#about-me h2 {
    text-align: right;
    padding-right: 45px;
    margin-left: 80px;
    color: midnightblue;
    font-size: 36px;
    border-right: 5px solid midnightblue;
}

#about-me p {
    flex-wrap: wrap;
    padding-left: 45px;
    color: darkslateblue;
    line-height: 25px;
}

/* END ABOUT ME SECTION */
/* WORK SECTIONS */

#work {
    display: flex;
    padding: 60px;
}

#work h2 {
    text-align: right;
    padding-right: 45px;
    margin-left: 80px;
    color: midnightblue;
    font-size: 36px;
    border-right: 5px solid midnightblue;
}

#run-buddy {
    padding-left: 45px;

}

#run-buddy a img {
    width: 80%;

    border: 5px solid midnightblue;
    border-radius: 5px;
}

/* END WORK SECTIONS */
/* BEGIN CONTACT ME */

footer {
    background-color: rgb(63, 62, 62);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0;
}

footer h2 span {
    font-size: 36px;
    margin: 0;
    align-items: flex-start;
    color: rgb(63, 62, 62);
    background-color: lightskyblue;
    text-decoration: none;
    padding: 5px 10px 5px 40px;
    font-weight: bold;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

footer nav ul li a {
    padding: 2px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-decoration: none;
    color: lightskyblue;
    border-bottom: 3px solid lightskyblue;
    border-radius: 5px;
    margin: 5px 10px;

}
